html
  font-size 62.5%
body
  font-family: Roboto, sans-serif
  margin 0
  font-size 1.6rem
img
  max-width 100%
  height auto

li,ol 
  list-style none

a
  text-decoration: none
  color inherit

*
  box-sizing border-box

b
  font-weight 800

.cf
  zoom 1
  &:after
  &:before
    content ''
    display table
  &:after
    clear both

.no-t-margin
  margin-top: 0
  