.btn
  display inline-block
  padding 1.6rem 2rem
  color white
  background-color mainblue
  text-decoration: none
  &--orange
    background-color orange
  &--large
    font-size 1.1em
    +for_breakpoint(tablet)
      font-size 1.3em