.wrapper
  padding 0 1em
  max-width 1200px
  margin 0 auto
  overflow hidden
  &--b-margin
    margin-bottom 3em
  +for_breakpoint(tablet)
    margin-bottom: 5em
  img
    margin 0 auto
    display block
    max-width 100%
  +for_breakpoint(tablet)
    padding 0 2em
